/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */

body {
	background-color: black;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	margin: 0;
}

#closed-captions {
	height: 100vh;
	align-content: center;
	display: flex;
	justify-content: center;
	align-items: center;
	align-items: center;
	z-index: 1;
}

#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
	color: white;
	font-size: 2em;
}
#closed-captions .on {
	opacity: 0.8;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}
.voice1 {
	/* font-style: italic; */
	text-align: center;
	font-family: brenner sans;
	font-weight: 200;
}

p {
	text-align: center;
}

.voice2 {
	font-family: brenner;
	font-weight: 200;
}

.voice3 {
	background: red;
	padding-left: 10px;
	padding-right: 10px;
	color:red;
	font-weight: 800;
	height: 10px;
	font-size: 10rem !important;
	transform: rotate(0deg);
	font-family: sans-serif !important;
	text-transform: uppercase;
	animation: fuck 1s; 
}

@keyframes fuck {
	10% {
		font-size: 1rem;}
		40% {
			font-size: 10rem;
		}
	}


/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */
 .p0 span {
 	opacity: 0;
 	font-family: brenner sans;
 }

 .p0.on span:first-of-type {
 	opacity: 1;
 	transition: 0s;
 	font-family: brenner sans;
 	font-weight: 200;
 }

 .p0.on span:nth-of-type(2) {
 	opacity: 1;
 	transition: 0s;
 	font-family: brenner sans;
 	font-weight: 200;
 }

 .p0.on span:nth-of-type(3) {
 	opacity: 1;
 	transition: 0s;
 	font-family: brenner sans;
 	font-weight: 200;
 }

 .p0.on span:nth-of-type(4) {
 	opacity: 1;
 	transition: 0s;
 	font-family: brenner sans;
 	font-weight: 200;
 }

 .p0.on span:nth-of-type(5) {
 	opacity: 1;
 	transition: 0s;
 	font-family: brenner sans;
 	font-weight: 200;
 }

 .p0.on span:nth-of-type(6) {
 	opacity: 1;
 	transition: 0s;
 	font-family: brenner sans;
 	font-weight: 200;
 }

 .p0.on span:nth-of-type(7) {
 	opacity: 1;
 	transition: 0s;
 	font-family: brenner sans;
 	font-weight: 200;
 }

 .p0.on span:nth-of-type(8) {
 	opacity: 1;
 	transition: 0s;
 	font-family: brenner sans;
 	font-weight: 200;
 }

 .p0.on span:nth-of-type(9) {
 	opacity: 1;
 	transition: 0s;
 	font-family: brenner sans;
 	font-weight: 200;
 }

 .p0.on span:nth-of-type(10) {
 	opacity: 1;
 	transition: 0s;
 	font-family: brenner sans;
 	font-weight: 200;
 }

 .p0.on span:nth-of-type(11) {
 	opacity: 1;
 	transition: 0s;
 	font-family: brenner sans;
 	font-weight: 400;
 }

.p1 span {
	opacity: 0;
	font-family: brenner;
}

.p1.on span:first-of-type {
	opacity: 1;
	font-family: brenner;
	font-weight: 400;
}

.p1.on span:nth-of-type(2) {
	opacity: 1;
	font-family: brenner;
	font-weight: 200;
}

.p2.on span:first-of-type {
	opacity: 1;
	font-family: brenner sans;
	font-weight: 200;
}

.p2.on span:nth-of-type(2) {
	opacity: 1;
	font-family: brenner sans;
	font-weight: 200;
}

.p2.on span:nth-of-type(3) {
	opacity: 1;
	font-family: brenner sans;
	font-weight: 200;
}

.p3 span {
	opacity: 0;
	font-family: brenner;
}

.p3.on span:first-of-type {
	opacity: 1;
	font-family: brenner;
}

.p3.on span:nth-of-type(2) {
	opacity: 1;
	font-family: brenner;
	font-weight: 200;
	color: rgb(213, 57, 57);
}

.p3.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s;
}

.p3.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s;
}

.p3.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s;
}

.p3.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s;
}

.p7 span {
	opacity: 0;
}

.p7.on span:first-of-type {
	opacity: 1;
}

.p7.on span:nth-of-type(2) {
	opacity: 1;
}

.p7.on span:nth-of-type(3) {
	opacity: 1;
}

.p7.on span:nth-of-type(4) {
	opacity: 1;
	background-color: black;
}

.p7.on span:nth-of-type(5) {
	opacity: 1;
	background-color: black;
}

.p7.on span:nth-of-type(6) {
	opacity: 1;
	background-color: black;
}

.p7.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 2s;
}

.p7.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 2s;
}

.p7.on span:nth-of-type(9) {
	opacity: 1;
	background-color: white;
	color: black;
	transition: 0s 2s;
}

.p7.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 2s;
}

.p7.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 2s;
}

/*
.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	font-weight: 200;
}
.p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.25em;
	font-weight: 400;
}
.p0.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.25em;
	font-weight: 600;
}
.p0.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.25em;
	font-weight: 800;
}
.p0.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.25em;
	font-family: "brenner sans";
}
.p0.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.25em;
	font-family: "brenner display";
}
.p0.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.7s;
	margin-right: -.25em;
	font-family: "brenner script";
}
.p0.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 2s;
	font-family: "brenner script";
}
.p0.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 3s;
	font-family: "brenner Sans condensed";
}
.p0.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 3.2s;
	font-family: "brenner mono";
}
.p0.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 3.7s;
	font-family: "brenner slab";
} */


.voice1a {
	font-size: 8rem !important;
}


/* **********************************************

Styling van video.

********************************************** */


#video-placeholder {
	clip-path: inset(20% 0 19% 0);
}

#video-placeholderwrapper {
	padding: 10px 0px;
	box-shadow: 0px 21px 11px -9px rgba(0, 0, 0, 0.372);
	border-radius: 10px;
}

/* **********************************************

audio effects.

********************************************** */

.sound1 {

	transition: 300ms;
	-webkit-animation: sound1 3s;/* Safari 4.0 - 8.0 */
	animation: sound1 3s;

}

@keyframes sound1{

		0% {background: black;}
		20% {
			background: darkred;}
	
}

.sound2 {

	transition: 300ms;
	-webkit-animation: sound2 0.3s;
	/* Safari 4.0 - 8.0 */
	animation: sound2 1s;

}

@keyframes sound2 {

	0% {
		background-image: linear-gradient(to bottom right, darkred, black, rgb(61, 192, 249));
		  background-position: center;
		  /* Center the image */
		  background-repeat: no-repeat;
		  /* Do not repeat the image */
		  background-size: cover;
		}

			10% {
				background-image: linear-gradient(to top left, darkred, black, rgb(61, 192, 249));
				background-position: center;
				/* Center the image */
				background-repeat: no-repeat;
				/* Do not repeat the image */
				background-size: cover;
			}

						20% {
							background-image: linear-gradient(to bottom left, darkred, black, rgb(61, 192, 249));
							background-position: center;
							/* Center the image */
							background-repeat: no-repeat;
							/* Do not repeat the image */
							background-size: cover;
						}
		
									40% {
										background-color: black;
										background-position: center;
										/* Center the image */
										background-repeat: no-repeat;
										/* Do not repeat the image */
										background-size: cover;
									}

}



}

.sound4 {

	transition: 300ms;
	-webkit-animation: sound4 1s;
	/* Safari 4.0 - 8.0 */
	animation: sound4 1s;

}

@keyframes sound4 {

	0% {
		background: black;
	}

	20% {
		background: orange;
	}

}
	

.soundbarcontainer {
	
	width: 100%;
	height: 100vh;
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	margin: 0px;
}

.soundbarleft {
	transform: scaleX(-1) !important;
}
.soundbar {
/* clip-path: polygon(0 16%, 100% 0, 100% 84%, 0% 100%); */
clip-path: polygon(50% 0%, 100% 15%, 100% 85%, 50% 100%, 0 85%, 0 15%);

/* border: solid 5px rgba(0, 0, 0, 0.187); */
	border-radius: 0px;
	border-top: 20px;
	border-left: 70px;
	margin: 0px;
	height: 800px;
	width: 200px;
	/* background-image: linear-gradient(to bottom, #d60000, #cd5300, #bb7b00, #a49b00, #88b600, #88b600, #88b600, #88b600, #a49b00, #bb7b00, #cd5300, #d60000); */
	background-image: linear-gradient(to right top, #340303, #480a0f, #5d1415, #731f19, #892b1c);
}


/* @keyframes geluid {

	1% {
		height: 20px;
	}

	8% {
		height: 800px;
	}

} */
.sound0 {
background: url('stars.gif') repeat;
background-size: cover;
}

.sound8 {

	background-image: url('whitebg.svg');
}


#voice2 {
	margin-left: 20rem;
	font-family: "brenner";
	font-weight: 600;
	font-size: 5rem !important;
}

#voice1 {
	margin-left: -20rem;
	margin-top: -10rem;
	font-family: "brenner sans";
	font-weight: 600;
	font-size: 3rem !important;
	
}

#voice3 {
	font-size: 6rem !important;
		margin-left: 0rem;
		margin-top: 0rem;
			font-family: "brenner";
			font-weight: 600;

}

#voice4 {
	font-size: 9rem !important;
	margin-left: 0rem;
	margin-top: 0rem;
		font-family: "brenner";
		font-weight: 600;
		padding: 0px 80px;

			background: #a42020c4;
			clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);


}

#voice5 {
	font-size: 12rem !important;
	margin-left: 0rem;
	padding: ;
	margin-top: 0rem;
	text-align: center;
		font-family: "brenner";
		font-weight: 600;
					background: #851f1fc4;
					clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);




}

.sound3 {
	animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	perspective: 1000px;
}

@keyframes shake {

	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(6px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-8px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(9px, 0, 0);
	}
}

.sound4 {
	animation: shake2 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	perspective: 1000px;
}

@keyframes shake2 {

	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
		background-color: white;
	}

	20%,
	80% {
		transform: translate3d(6px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-8px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(9px, 0, 0);
	}
}
.sound5 {
	animation: shake3 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	perspective: 1000px;
}

@keyframes shake3 {

	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(6px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-8px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(9px, 0, 0);
	}
}
.sound6 {
	animation: shake4 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	perspective: 1000px;
}

@keyframes shake4 {

	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(6px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-8px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(9px, 0, 0);
	}
}
.sound7 {
	animation: shake5 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	perspective: 1000px;
}

@keyframes shake5 {

	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(6px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-8px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(9px, 0, 0);
	}
}

.sound9 {
	animation: shake6 56s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	perspective: 1000px;
	animation-iteration-count: 1;
}

@keyframes shake6 {

	1% {
		transform: translate3d(-1px, 0, 0);
	}

		2% {
			transform: translate3d(2px, 0, 0);
		}

		3% {
			transform: translate3d(-1px, 0, 0);
		}

		4% {
			transform: translate3d(2px, 0, 0);
		}

		5% {
					transform: translate3d(-2px, 0, 0);
				}

		6% {
					transform: translate3d(3px, 0, 0);
				}
7% {
	transform: translate3d(-2px, 0, 0);
}

8% {
	transform: translate3d(3px, 0, 0);
}

9% {
	transform: translate3d(-2px, 0, 0);
}

10% {
	transform: translate3d(3px, 0, 0);
}

11% {
	transform: translate3d(-3px, 0, 0);
}

12% {
	transform: translate3d(3px, 0, 0);
}

13% {
	transform: translate3d(-3px, 0, 0);
}

14% {
	transform: translate3d(3px, 0, 0);
}

15% {
	transform: translate3d(-3px, 0, 0);
}

16% {
	transform: translate3d(3px, 0, 0);
}

17% {
	transform: translate3d(-3px, 0, 0);
}

18% {
	transform: translate3d(3px, 0, 0);
}

19% {
	transform: translate3d(-3px, 0, 0);
}

20% {
	transform: translate3d(3px, 0, 0);
}

21% {
	transform: translate3d(-3px, 0, 0);
}

22% {
	transform: translate3d(3px, 0, 0);
}

23% {
	transform: translate3d(-3px, 0, 0);
}

24% {
	transform: translate3d(3px, 0, 0);
}

25% {
	transform: translate3d(-3px, 0, 0);
}

26% {
	transform: translate3d(3px, 0, 0);
}

27% {
	transform: translate3d(-3px, 0, 0);
}

28% {
	transform: translate3d(3px, 0, 0);
}

29% {
	transform: translate3d(-3px, 0, 0);
}

30% {
	transform: translate3d(4px, 0, 0);
}

31% {
	transform: translate3d(-4px, 0, 0);
}

32% {
	transform: translate3d(4px, 0, 0);
}

33% {
	transform: translate3d(-4px, 0, 0);
}

34% {
	transform: translate3d(4px, 0, 0);
}

35% {
	transform: translate3d(-4px, 0, 0);
}

36% {
	transform: translate3d(4px, 0, 0);
}

37% {
	transform: translate3d(-4px, 0, 0);
}

38% {
	transform: translate3d(4px, 0, 0);
}

39% {
	transform: translate3d(-4px, 0, 0);
}

40% {
	transform: translate3d(5px, 0, 0);
}

41% {
	transform: translate3d(-5px, 0, 0);
}

42% {
	transform: translate3d(5px, 0, 0);
}

43% {
	transform: translate3d(-5px, 0, 0);
}

44% {
	transform: translate3d(5px, 0, 0);
}

45% {
	transform: translate3d(-5px, 0, 0);
}

46% {
	transform: translate3d(5px, 0, 0);
}

47% {
	transform: translate3d(-5px, 0, 0);
}

48% {
	transform: translate3d(5px, 0, 0);
}

49% {
	transform: translate3d(-5px, 0, 0);
}

50% {
	transform: translate3d(5px, 0, 0);
}

51% {
	transform: translate3d(-5px, 0, 0);
}

52% {
	transform: translate3d(5px, 0, 0);
}

53% {
	transform: translate3d(-5px, 0, 0);
}

54% {
	transform: translate3d(5px, 0, 0);
}

55% {
	transform: translate3d(-5px, 0, 0);
}

56% {
	transform: translate3d(5px, 0, 0);
}

57% {
	transform: translate3d(-5px, 0, 0);
}

58% {
	transform: translate3d(5px, 0, 0);
}

59% {
	transform: translate3d(-5px, 0, 0);
}

60% {
	transform: translate3d(6px, 0, 0);
}

61% {
	transform: translate3d(-6px, 0, 0);
}

62% {
	transform: translate3d(6px, 0, 0);
}

63% {
	transform: translate3d(-6px, 0, 0);
}

64% {
	transform: translate3d(6px, 0, 0);
}

65% {
	transform: translate3d(-6px, 0, 0);
}

66% {
	transform: translate3d(6px, 0, 0);
}

67% {
	transform: translate3d(-6px, 0, 0);
}

68% {
	transform: translate3d(6px, 0, 0);
}

69% {
	transform: translate3d(-6px, 0, 0);
}

70% {
	transform: translate3d(10px, 0, 0);
}

70.5% {
	transform: translate3d(-10px, 0, 0);
}

71% {
	transform: translate3d(10px, 0, 0);
}

71.5% {
	transform: translate3d(-10px, 0, 0);
}

71.7% {
	transform: translate3d(10px, 0, 0);
}

72% {
	transform: translate3d(-10px, 0, 0);
}

72.5% {
	transform: translate3d(-10px, 0, 0);
}

72.7% {
	transform: translate3d(10px, 0, 0);
}

73% {
	transform: translate3d(10px, 0, 0);
}

73.5% {
	transform: translate3d(-10px, 0, 0);
}

73.7% {
	transform: translate3d(10px, 0, 0);
}

74% {
	transform: translate3d(-10px, 0, 0);
}

74.2% {
	transform: translate3d(-10px, 0, 0);
}

74.4% {
	transform: translate3d(10px, 0, 0);
}

74.6% {
	transform: translate3d(-10px, 0, 0);
}

74.8% {
	transform: translate3d(10px, 0, 0);
}

75% {
	transform: translate3d(10px, 0, 0);
}

}
/* 
@keyframes shake6 {

	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(6px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-8px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(9px, 0, 0);
	}
} */

.sound90 {
	animation: shake7 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	perspective: 1000px;
}

@keyframes shake7 {

	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(6px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-8px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(9px, 0, 0);
	}
}

.sound {
	animation: shake0 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	perspective: 1000px;
}

@keyframes shake0 {

	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(6px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-8px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(9px, 0, 0);
	}
}


.sound10 {
	animation: shake10 1.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	perspective: 1000px;
	animation: shake11 50s;
}

@keyframes shake10 {

	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
		background: url('snow.gif') repeat;
	}

	20%,
	80% {
		transform: translate3d(6px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-8px, 0, 0);
		background: url('snow.gif') repeat;
	}

	40%,
	60% {
		transform: translate3d(9px, 0, 0);
	}
}


@keyframes shake11 {

	1% {
		transform: translate3d(-1px, 0, 0);
	}

	2% {
		transform: translate3d(2px, 0, 0);
	}

	3% {
		transform: translate3d(-1px, 0, 0);
	}

	4% {
		transform: translate3d(2px, 0, 0);
	}

	5% {
		transform: translate3d(-2px, 0, 0);
	}

	6% {
		transform: translate3d(3px, 0, 0);
	}

	7% {
		transform: translate3d(-2px, 0, 0);
	}

	8% {
		transform: translate3d(3px, 0, 0);
	}

	9% {
		transform: translate3d(-2px, 0, 0);
	}

	10% {
		transform: translate3d(3px, 0, 0);
	}

	11% {
		transform: translate3d(-3px, 0, 0);
	}

	12% {
		transform: translate3d(3px, 0, 0);
	}

	13% {
		transform: translate3d(-3px, 0, 0);
	}

	14% {
		transform: translate3d(3px, 0, 0);
	}

	15% {
		transform: translate3d(-3px, 0, 0);
	}

	16% {
		transform: translate3d(3px, 0, 0);
	}

	17% {
		transform: translate3d(-3px, 0, 0);
	}

	18% {
		transform: translate3d(3px, 0, 0);
	}

	19% {
		transform: translate3d(-3px, 0, 0);
	}

	20% {
		transform: translate3d(3px, 0, 0);
	}

	21% {
		transform: translate3d(-3px, 0, 0);
	}

	22% {
		transform: translate3d(3px, 0, 0);
	}

	23% {
		transform: translate3d(-3px, 0, 0);
	}

	24% {
		transform: translate3d(3px, 0, 0);
	}

	25% {
		transform: translate3d(-3px, 0, 0);
	}

	26% {
		transform: translate3d(3px, 0, 0);
	}

	27% {
		transform: translate3d(-3px, 0, 0);
	}

	28% {
		transform: translate3d(3px, 0, 0);
	}

	29% {
		transform: translate3d(-3px, 0, 0);
	}

	30% {
		transform: translate3d(4px, 0, 0);
	}

	31% {
		transform: translate3d(-4px, 0, 0);
	}

	32% {
		transform: translate3d(4px, 0, 0);
	}

	33% {
		transform: translate3d(-4px, 0, 0);
	}

	34% {
		transform: translate3d(4px, 0, 0);
	}

	35% {
		transform: translate3d(-4px, 0, 0);
	}

	36% {
		transform: translate3d(4px, 0, 0);
	}

	37% {
		transform: translate3d(-4px, 0, 0);
	}

	38% {
		transform: translate3d(4px, 0, 0);
	}

	39% {
		transform: translate3d(-4px, 0, 0);
	}

	40% {
		transform: translate3d(5px, 0, 0);
	}

	41% {
		transform: translate3d(-5px, 0, 0);
	}

	42% {
		transform: translate3d(5px, 0, 0);
	}

	43% {
		transform: translate3d(-5px, 0, 0);
	}

	44% {
		transform: translate3d(5px, 0, 0);
	}

	45% {
		transform: translate3d(-5px, 0, 0);
	}

	46% {
		transform: translate3d(5px, 0, 0);
	}

	47% {
		transform: translate3d(-5px, 0, 0);
	}

	48% {
		transform: translate3d(5px, 0, 0);
	}

	49% {
		transform: translate3d(-5px, 0, 0);
	}

	50% {
		transform: translate3d(5px, 0, 0);
	}

	51% {
		transform: translate3d(-5px, 0, 0);
	}

	52% {
		transform: translate3d(5px, 0, 0);
	}

	53% {
		transform: translate3d(-5px, 0, 0);
	}

	54% {
		transform: translate3d(5px, 0, 0);
	}

	55% {
		transform: translate3d(-5px, 0, 0);
	}

	56% {
		transform: translate3d(5px, 0, 0);
	}

	57% {
		transform: translate3d(-5px, 0, 0);
	}

	58% {
		transform: translate3d(5px, 0, 0);
	}

	59% {
		transform: translate3d(-5px, 0, 0);
	}

	60% {
		transform: translate3d(6px, 0, 0);
	}

	61% {
		transform: translate3d(-6px, 0, 0);
	}

	62% {
		transform: translate3d(6px, 0, 0);
	}

	63% {
		transform: translate3d(-6px, 0, 0);
	}

	64% {
		transform: translate3d(6px, 0, 0);
	}

	65% {
		transform: translate3d(-6px, 0, 0);
	}

	66% {
		transform: translate3d(6px, 0, 0);
	}

	67% {
		transform: translate3d(-6px, 0, 0);
	}

	68% {
		transform: translate3d(6px, 0, 0);
	}

	69% {
		transform: translate3d(-6px, 0, 0);
	}

	70% {
		transform: translate3d(10px, 0, 0);
	}

	70.5% {
		transform: translate3d(-10px, 0, 0);
	}

	70.7% {
		transform: translate3d(10px, 0, 0);
	}

	71% {
		transform: translate3d(-10px, 0, 0);
	}

	71.5% {
		transform: translate3d(-10px, 0, 0);
	}

	71.7% {
		transform: translate3d(10px, 0, 0);
	}

	72% {
		transform: translate3d(10px, 0, 0);
	}

	72.5% {
		transform: translate3d(-10px, 0, 0);
	}

	72.7% {
		transform: translate3d(10px, 0, 0);
	}

	73% {
		transform: translate3d(-10px, 0, 0);
	}

	73.5% {
		transform: translate3d(-10px, 0, 0);
	}

	73.7% {
		transform: translate3d(10px, 0, 0);
	}

	74% {
		transform: translate3d(10px, 0, 0);
	}

	74.5% {
		transform: translate3d(-10px, 0, 0);
	}

	74.7% {
		transform: translate3d(10px, 0, 0);
	}

	75% {
		transform: translate3d(-10px, 0, 0);
	}

	75.2% {
		transform: translate3d(-10px, 0, 0);
	}

	75.4% {
		transform: translate3d(10px, 0, 0);
	}

	75.6% {
		transform: translate3d(-10px, 0, 0);
	}

	75.8% {
		transform: translate3d(10px, 0, 0);
	}

	76% {
		transform: translate3d(10px, 0, 0);
	}

}

@media only screen and (max-width: 1000px) {
	

		#voice2 {
			margin-left: 0;
			font-family: "brenner";
			font-weight: 600;
			font-size: 5rem !important;
		}

		#voice1 {
			margin-left: 0;
			margin-top: 0rem;
			font-family: "brenner sans";
			font-weight: 600;
			font-size: 3rem !important;

		}

		#video-placeholder {
		clip-path: inset(33% 0 33% 0);
		}

		.soundbar {
				width: 100px;
		}
		
	}

	@media only screen and (max-width: 600px) {
	.soundbar {
		width: 50px;
	}

	}